<div class="row">
  <div *ngFor="let response of responses" class="col-sm-6">
    <div class="card">
      <div class="card-header">
        {{ response.battletag }}
      </div>
      <div class="card-block">
        <div class="card-text">
          {{ response.description }}
        </div>
        <span class="label label-light-blue">
          <span appLocalUI="Card Power"></span>
          <span class="badge">{{ response.power }}</span>
        </span>
        <span class="label label-orange">
          <span appLocalUI="Generality"></span>
          <span class="badge">{{ response.generality }}</span>
        </span>
      </div>
      <div class="card-footer">
        <button class="btn btn-sm btn-link">보러 가기</button>
      </div>
    </div>
  </div>
</div>