<div *ngIf="selectedCardResponse$ | async as cardResponse" class="wrapper">
  <app-card-navigate (prev)="onPrev()" (next)="onNext()" [id]="cardResponse.card" [total]="total$ | async" [index]="index$ | async">
  </app-card-navigate>
  <div class="row">
    <div class="col-sm-3">
      <div class="card light-blue">
        <div appLocalUI="Card Power" class="card-header">
          카드 파워
        </div>
        <div class="card-block">
          <div class="card-text score">
            {{ cardResponse.power }}점
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card orange">
        <div appLocalUI="Generality" class="card-header">
        </div>
        <div class="card-block">
          <div class="card-text score">
            {{ cardResponse.generality }}점
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="card description blue">
        <div appLocalUI="Description" class="card-header">
        </div>
        <div class="card-block">
          <div class="card-text">
            <span *ngIf="cardResponse.description">{{ cardResponse.description }}</span>
            <span *ngIf="!cardResponse.description">추가 설명이 없습니다.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>