<div *ngIf="selectedCardResponse$ | async as cardResponse" class="wrapper">
  <app-card-navigate (prev)="onPrev()" (next)="onNext()" [id]="cardResponse.card" [total]="total$ | async" [index]="index$ | async">
  </app-card-navigate>
  <div class="row">
    <div class="col-sm-3">
      <div class="card light-blue">
        <div appLocalUI="Card Power" class="card-header">
        </div>
        <div class="card-block">
          <div class="card-text score">
            <span [appLocalProp]="cardResponse.power" prop="power"></span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card orange">
        <div appLocalUI="Generality" class="card-header">
        </div>
        <div class="card-block">
          <div class="card-text score">
            <span [appLocalProp]="cardResponse.generality" prop="generality"></span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="card description blue">
        <div appLocalUI="Description" class="card-header">
        </div>
        <div class="card-block">
          <div class="card-text">
            <span *ngIf="cardResponse.description">{{ cardResponse.description }}</span>
            <span *ngIf="!cardResponse.description">추가 설명이 없습니다.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h2>박제</h2>
  <div class="row">
    <div *ngFor="let archive of archives$ | async" class="col-sm-12">
      <div class="card">
        <div class="card-header">
          {{ archive.battletag }}
        </div>
        <div class="card-block">
          <div class="card-text">
            {{ archive.description }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="archive-actions">
    <ng-container *ngIf="isLoggedIn$ | async; else loginBlock;">
      <button *ngIf="canArchive$ | async" class="btn btn-primary" (click)="openArchiveForm()">박제하기</button>
      <button *ngIf="!(canArchive$ | async)" class="btn btn-primary" disabled>가루가 부족합니다</button>
    </ng-container>
    <ng-template #loginBlock>
      <button class="btn btn-primary" (click)="login()">로그인</button>
    </ng-template>
  </div>

  <clr-modal [clrModalOpen]="isModalOpen$ | async" [clrModalClosable]="false">
    <h3 class="modal-title">박제하기</h3>
    <div class="modal-body">
      <ul class="list">
        <li>박제된 내용은 수정 및 삭제가 불가능하니 신중하게 해주세요.</li>
        <li>지나친 욕설, 비하발언은 관리자의 판단에 따라 삭제됩니다.</li>
      </ul>
      <form [formGroup]="formGroup" class="form">
        <textarea formControlName="description" id="textarea" placeholder="내용 입력" rows="6"></textarea>
      </form>
      <table *ngIf="points$ | async as points" class="table table-vertical">
          <tbody>
              <tr>
                  <th>현재 가루</th>
                  <td><img src="./images/dust.png"> {{ points.current }}</td>
              </tr>
              <tr>
                  <th>박제 비용</th>
                  <td><img src="./images/dust.png"> {{ points.cost }}</td>
              </tr>
              <tr>
                  <th>박제 후 가루</th>
                  <td><img src="./images/dust.png"> {{ points.result }}</td>
              </tr>
          </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline" (click)="closeArchiveForm()">Cancel</button>
      <button [disabled]="formGroup.invalid" [clrLoading]="isLoading$ | async" type="button" class="btn btn-primary" (click)="submitArchive()">Ok</button>
    </div>
  </clr-modal>
</div>