<h1 appLocalUI="Write Survey"></h1>
<div class="wrapper">
  <ul class="nav" role="tablist">
    <li role="presentation" class="nav-item">
      <button [routerLink]="['./', 'cards']" routerLinkActive="active" appLocalUI="Cards" id="tab1" class="btn btn-link nav-link"
        type="button"></button>
    </li>
    <li role="presentation" class="nav-item">
      <button [routerLink]="['./', 'expansion']" routerLinkActive="active" appLocalUI="Expansion" id="tab2" class="btn btn-link nav-link"
        type="button"></button>
    </li>
    <li role="presentation" class="nav-item">
      <button [routerLink]="['./', 'review']" routerLinkActive="active" appLocalUI="Review" id="tab3" class="btn btn-link nav-link"
        type="button"></button>
    </li>
  </ul>
  <clr-alert [clrAlertType]="'alert-danger'" [clrAlertClosed]="!(error$ | async)" (clrAlertClosedChange)="alertClose()">
    <div class="alert-item">
        <span class="alert-text">
          저장 중 오류가 발생했습니다.
        </span>
    </div>
  </clr-alert>
  <router-outlet></router-outlet>
</div>