<h1>Expansion Survey</h1>
<div class="wrapper">
    <div class="expansion-img">
        <img appLocalExpansionImg [code]="selectedExpansionId$ | async">
    </div>
    <form>
        <section class="form-block">
            <div class="form-group">
                <label>재미</label>
                <div class="radio-inline">
                    <input type="radio" name="gridRadios" id="f1">
                    <label for="f5">5</label>
                </div>
                <div class="radio-inline">
                    <input type="radio" name="gridRadios" id="f2">
                    <label for="f4">4</label>
                </div>
                <div class="radio-inline">
                    <input type="radio" name="gridRadios" id="f2">
                    <label for="f3">3</label>
                </div>
                <div class="radio-inline">
                    <input type="radio" name="gridRadios" id="f2">
                    <label for="f2">2</label>
                </div>
                <div class="radio-inline">
                    <input type="radio" name="gridRadios" id="f2">
                    <label for="f1">1</label>
                </div>
            </div>
            <div class="form-group">
                <label>밸런스</label>
                <div class="radio-inline">
                    <input type="radio" name="b" id="b1">
                    <label for="f5">5</label>
                </div>
                <div class="radio-inline">
                    <input type="radio" name="b" id="b2">
                    <label for="f4">4</label>
                </div>
                <div class="radio-inline">
                    <input type="radio" name="b" id="b2">
                    <label for="f3">3</label>
                </div>
                <div class="radio-inline">
                    <input type="radio" name="b" id="b2">
                    <label for="f2">2</label>
                </div>
                <div class="radio-inline">
                    <input type="radio" name="gridRadios" id="f2">
                    <label for="f1">1</label>
                </div>
            </div>
            <div class="form-group">
                <label>추가 설명</label>
                <textarea rows="10"></textarea>
            </div>
        </section>
        <button type="submit" class="btn btn-primary">저장</button>
    </form>
</div>