<clr-alert *ngIf="cardMin$ | async" clrAlertType="alert-danger" [clrAlertClosable]="false">
    <div clr-alert-item class="alert-item">
        <span class="alert-text">
            최소 10개의 카드 평가를 작성해야 합니다.
        </span>
    </div>
</clr-alert>
<clr-alert *ngIf="expansionRequired$ | async" clrAlertType="alert-danger" [clrAlertClosable]="false">
    <div clr-alert-item class="alert-item">
        <span class="alert-text">
            확장팩 평가를 작성해야 합니다.
        </span>
    </div>
</clr-alert>
<button [clrLoading]="isLoading$ | async" (click)="onSubmit()" class="btn btn-primary">저장</button>