.card-img {
    cursor: pointer;
}

.card-badge {
    text-align: center;
    padding-left: 12px;
}

.card-wrapper {
    margin-bottom: 12px;
}

.card-selected {
    text-align: center;
    padding-top: 24px;
    img {
        display: block;
        width: auto;
        height: 320px;
        margin-left: auto;
        margin-right: auto;
        @media screen and (max-width: 544px) {
            height: 240px;
        }
    }
}

.form-wrapper {
    border-bottom: 1px solid #ccc;
}
