<h1 appLocalUI="Write Survey"></h1>
<div class="wrapper">
  <ul class="nav" role="tablist">
    <li role="presentation" class="nav-item">
      <button [routerLink]="['./', 'cards']" routerLinkActive="active" appLocalUI="Cards" id="tab1" class="btn btn-link nav-link"
        type="button"></button>
    </li>
    <li role="presentation" class="nav-item">
      <button [routerLink]="['./', 'expansion']" routerLinkActive="active" appLocalUI="Expansion" id="tab2" class="btn btn-link nav-link"
        type="button"></button>
    </li>
    <li role="presentation" class="nav-item">
      <button [routerLink]="['./', 'submit']" routerLinkActive="active" appLocalUI="Review & Submit" id="tab3" class="btn btn-link nav-link"
        type="button"></button>
    </li>
  </ul>
  <router-outlet></router-outlet>
</div>