<app-survey-response-view-card-filter [filter]="filter$ | async" (filterChange)="onFilterChange($event)">
</app-survey-response-view-card-filter>
<div class="row">
  <div *ngFor="let cardResponse of cardResponses$ | async" class="col-sm-3 card-wrapper">
    <div [routerLink]="['./', cardResponse.card]" class="card-img">
      <img appLocalCardImg [id]="cardResponse.card">
    </div>
    <div class="card-badge">
      <span class="label label-light-blue">
        <span appLocalUI="Card Power"></span>
        <span class="badge">{{ cardResponse.power }}</span>
      </span>
      <span class="label label-orange">
        <span appLocalUI="Generality"></span>
        <span class="badge">{{ cardResponse.generality }}</span>
      </span>
    </div>
  </div>
</div>
<div *ngIf="showExpandButton$ | async" class="more-cards">
  <button (click)="moreCards()" class="btn btn-block">더 보기</button>
</div>