<div class="content-container">
  <div class="content-area">
    <router-outlet></router-outlet>
  </div>
  <clr-vertical-nav [clr-nav-level]="2">
    <a clrVerticalNavLink routerLink="./guide" routerLinkActive="active">
      <clr-icon clrVerticalNavIcon shape="help"></clr-icon>
      Starting Guide
    </a>
    <a clrVerticalNavLink routerLink="./cards" routerLinkActive="active">
      <clr-icon clrVerticalNavIcon shape="copy"></clr-icon>
      Cards
    </a>
    <a clrVerticalNavLink routerLink="./expansion" routerLinkActive="active">
      <clr-icon clrVerticalNavIcon shape="folder"></clr-icon>
      Expansion
    </a>
  </clr-vertical-nav>
</div>