<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div appLocalUI="Card Power" class="card-header">
      </div>
      <div class="card-block">
        <div class="card-text">
          <app-card-response-ratio [cardResponses]="cardResponses$ | async" label="카드 파워" prop="power"></app-card-response-ratio>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div appLocalUI="Generality" class="card-header">
      </div>
      <div class="card-block">
        <div class="card-text">
          <app-card-response-ratio [cardResponses]="cardResponses$ | async" label="범용성" prop="generality"></app-card-response-ratio>
        </div>
      </div>
    </div>
  </div>
</div>