<h1 appLocalUI="Write Survey"></h1>
<div class="wrapper">
  <clr-tabs>
    <clr-tab>
      <button appLocalUI="Cards" clrTabLink></button>
      <clr-tab-content *clrIfActive>
        <app-survey-card-filter [filter]="filter$ | async" (filterChange)="onFilterChange($event)"></app-survey-card-filter>
        <div class="row">
          <div *ngFor="let card of cards$ | async" class="col-sm-3">
            <div class="card-img">
              <img appLocalCardImg [id]="card.id">
            </div>
          </div>
        </div>
      </clr-tab-content>
    </clr-tab>
    <clr-tab>
      <button appLocalUI="Expansion" clrTabLink></button>
      <clr-tab-content *clrIfActive>
        <app-survey-write-expansion [expansion]="(selectedSurvey$ | async).expansion"></app-survey-write-expansion>
      </clr-tab-content>
    </clr-tab>
    <clr-tab>
      <button appLocalUI="Review & Submit" clrTabLink></button>
      <clr-tab-content *clrIfActive>
        ...
      </clr-tab-content>
    </clr-tab>
  </clr-tabs>
</div>