<div class="form-wrapper" *ngIf="selectedCardId$ | async as selectedCardId">
    <div class="card-selected">
        <img appLocalCardImg [id]="selectedCardId">
    </div>
    <form [formGroup]="formGroup">
        <section class="form-block">
            <div class="form-group">
                <label appLocalUI="Card Power"></label>
                <div class="radio-inline">
                    <input type="radio" formControlName="power" [value]="80" id="f4">
                    <label for="f4">80 (매우 높음)</label>
                </div>
                <div class="radio-inline">
                    <input type="radio" formControlName="power" [value]="60" id="f3">
                    <label for="f3">60 (높음)</label>
                </div>
                <div class="radio-inline">
                    <input type="radio" formControlName="power" [value]="40" id="f2">
                    <label for="f2">40 (낮음)</label>
                </div>
                <div class="radio-inline">
                    <input type="radio" formControlName="power" [value]="20" id="f1">
                    <label for="f1">20 (매우 낮음)</label>
                </div>
            </div>
            <div class="form-group">
                <label appLocalUI="Generality"></label>
                <div class="radio-inline">
                    <input type="radio" formControlName="generality" [value]="80" id="b4">
                    <label for="b4">80 (순수 단독형)</label>
                </div>
                <div class="radio-inline">
                    <input type="radio" formControlName="generality" [value]="60" id="b3">
                    <label for="b3">60 (중립적 단독형)</label>
                </div>
                <div class="radio-inline">
                    <input type="radio" formControlName="generality" [value]="40" id="b2">
                    <label for="b2">40 (중립적 시너지형)</label>
                </div>
                <div class="radio-inline">
                    <input type="radio" formControlName="generality" [value]="20" id="b1">
                    <label for="b1">20 (순수 시너지형)</label>
                </div>
            </div>
            <div class="form-group">
                <label appLocalUI="Description"></label>
                <textarea formControlName="description" rows="6"></textarea>
            </div>
            <button type="button" [clrLoading]="isLoading$ | async" [attr.disabled]="formGroup.invalid ? true : null" (click)="onSubmit()"
                class="btn btn-primary">확인</button>
            <button (click)="onCancel()" class="btn btn-secondary">취소</button>
        </section>
    </form>
</div>
<app-survey-card-filter [filter]="filter$ | async" (filterChange)="onFilterChange($event)">
</app-survey-card-filter>
<div class="row">
    <ng-container *ngFor="let card of cards$ | async">
        <div class="col-sm-3 card-wrapper">
            <div (click)="onSelect(card.id)" class="card-img">
                <img appLocalCardImg [id]="card.id">
            </div>
            <div *ngIf="!card.form" class="card-badge">
                <span class="label label-blue">미응답</span>
            </div>
            <div *ngIf="card.form" class="card-badge">
                <span class="label label-light-blue">
                    <span appLocalUI="Card Power"></span>
                    <span class="badge">{{ card.form.power }}</span>
                </span>
                <span class="label label-orange">
                    <span appLocalUI="Generality"></span>
                    <span class="badge">{{ card.form.generality }}</span>
                </span>
            </div>
        </div>
    </ng-container>
</div>