<div class="expansion-img">
    <img appLocalExpansionImg [code]="expansion$ | async">
</div>
<form [formGroup]="formGroup">
    <section class="form-block">
        <div class="form-group">
            <label appLocalUI="Fun"></label>
            <div class="radio-inline">
                <input type="radio" formControlName="fun" [value]="80" id="f4">
                <label for="f4">매우 높음</label>
            </div>
            <div class="radio-inline">
                <input type="radio" formControlName="fun" [value]="60" id="f3">
                <label for="f3">높음</label>
            </div>
            <div class="radio-inline">
                <input type="radio" formControlName="fun" [value]="40" id="f2">
                <label for="f2">낮음</label>
            </div>
            <div class="radio-inline">
                <input type="radio" formControlName="fun" [value]="20" id="f1">
                <label for="f1">매우 낮음</label>
            </div>
        </div>
        <div class="form-group">
            <label appLocalUI="Balance"></label>
            <div class="radio-inline">
                <input type="radio" formControlName="balance" [value]="80" id="b4">
                <label for="b4">매우 높음</label>
            </div>
            <div class="radio-inline">
                <input type="radio" formControlName="balance" [value]="60" id="b3">
                <label for="b3">높음</label>
            </div>
            <div class="radio-inline">
                <input type="radio" formControlName="balance" [value]="40" id="b2">
                <label for="b2">낮음</label>
            </div>
            <div class="radio-inline">
                <input type="radio" formControlName="balance" [value]="20" id="b1">
                <label for="b1">매우 낮음</label>
            </div>
        </div>
        <div class="form-group">
            <label appLocalUI="Description"></label>
            <textarea formControlName="description" rows="6"></textarea>
        </div>
        <button type="button" (click)="onSubmit()" [clrLoading]="isLoading$ | async" [attr.disabled]="formGroup.invalid ? true : null"
            class="btn btn-primary">확인</button>
    </section>
</form>