<div class="content-container">
  <div class="content-area">
    <h1>정보</h1>
    <h3>오리엔탈 샐러드에 대해</h3>
    <ul class="list list-spacer">
      <li>오리엔탈 샐러드는 하스스톤의 새로운 확장팩에 대한 평가를 보존하기 위해 제작되었습니다.</li>
      <li>버그 제보 및 건의 사항은 typ0@naver.com으로 해주시면 됩니다.</li>
      <li>https://discord.gg/ZJM484d</li>
    </ul>
    <h3>버그 제보 및 건의사항</h3>
    <ul class="list list-spacer">
      <li>개발자 이메일 - typ0@naver.com</li>
      <li>오리엔탈 샐러드 디스코드 -
        <a href="https://discord.gg/ZJM484d">https://discord.gg/ZJM484d</a>
      </li>
    </ul>
  </div>