<div class="content-container">
  <div class="content-area">
    <h1>정보</h1>
    <h3>오리엔탈 샐러드에 대해</h3>
    <ul class="list list-spacer">
      <li>오리엔탈 샐러드는 하스스톤의 새로운 확장팩에 대한 평가를 보존하기 위해 제작되었습니다.</li>
    </ul>
    <h3>버그 제보 및 건의사항</h3>
    <ul class="list list-spacer">
      <li>개발자 이메일 - typ0@naver.com</li>
      <li>오리엔탈 샐러드 디스코드 -
        <a href="https://discord.gg/ZJM484d">https://discord.gg/ZJM484d</a>
      </li>
    </ul>
    <h3>업데이트 내역</h3>
    <ul class="list list-spacer">
      <li>2018-08-01
        <ul class="list">
          <li>아무튼 추가됨</li>
        </ul>
      </li>
      <li>2018-04-15
        <ul class="list">
          <li>랜덤 평가 보기가 추가되었습니다.</li>
          <li>설문 통계가 추가되었습니다.</li>
          <li>카드, 확장팩 통계가 추가되었습니다.</li>
        </ul>
      </li>
      <li>2018-04-13
        <ul class="list">
          <li>평가 보기가 추가되었습니다.</li>
          <li>유저 프로필이 추가되었습니다.</li>
        </ul>
      </li>
      <li>2018-04-12
        <ul class="list">
          <li>로그인 관련 문제를 일부 수정했습니다.</li>
        </ul>
      </li>
      <li>2018-04-11
        <ul class="list">
          <li>자동저장 기능이 추가되었습니다.</li>
        </ul>
      </li>
    </ul>
    <h3>기여자 목록</h3>
    <ul class="list list-spacer">
      <li>LuNaTic</li>
      <li>계략</li>
    </ul>
  </div>