<div class="row">
  <div *ngFor="let response of responses" class="col-sm-6">
    <div class="card">
      <div class="card-header">
        {{ response.battletag }}
      </div>
      <div class="card-block">
        <div class="card-text">
          {{ response.description }}
        </div>
        <span class="label label-light-blue">
          <span appLocalUI="Fun"></span>:
          <span [appLocalProp]="response.fun" prop="fun"></span>
        </span>
        <span class="label label-orange">
          <span appLocalUI="Balance"></span>:
          <span [appLocalProp]="response.balance" prop="balance"></span>
        </span>
      </div>
      <div class="card-footer">
        <button [routerLink]="['/', 'surveys', response.surveyId, 'responses', response.responseId, 'view', 'expansion']" class="btn btn-sm btn-link">보러 가기</button>
      </div>
    </div>
  </div>
</div>