<h1 appLocalUI="Starting Guide"></h1>
<h3>카드 파워</h3>
<p>
    특정 카드가 얼마나 강한 덱에 쓰일지 평가합니다.
    <br>어떤 카드가 약하다면, 해당 카드를 사용하는 덱은 약해질 것입니다.
    <br>반대로 어떤 카드가 강하다면 해당 카드를 사용하는 덱은 강력해질 것입니다.
    <br>따라서, 해당 카드가 얼마나 강할지 = 이 카드를 넣은 덱이 얼마나 강할지 평가해주시면 됩니다.
    <br>매우 높음 / 높음 / 낮음 / 매우 낮음 의 4단계로 평가하실 수 있습니다.
    <br>
</p>
<h3>범용성 (카드 유형)</h3>
<p>
    특정 카드가 단독으로 쓰일지, 시너지를 노리고 쓰일지 평가합니다.
    <br>카드의 강력함과는 상관 없이, 카드가 어떤 성질을 가지는지에 대해 평가합니다.
    <br>범용성이 높을수록 단독형에 가깝고, 낮을수록 시너지형에 가까워집니다.
    <br>순수 단독형 / 중립적 단독형 / 중립적 시너지형 / 순수 시너지형 의 4단계로 평가하실 수 있습니다.
    <br>
</p>
<h3>추가 설명</h3>
<p>단순히 수치를 매기는 것으로 평가를 끝내기는 아쉬울 것입니다.
    <br>추가적으로 카드에 대해 자신의 의견을 표현하고 싶으시겠죠.
    <br>- "이 카드는 이번 확장팩의 판도를 바꿀 카드다!"
    <br>- "만아리랑 졸개로 공허군주를 소환한다고요? 그 덱을 과연 쓸까요?"
    <br>- "이걸 쓸 바에야 신직업 주술사를 하겠다!"
    <br>이 카드가 어떤 컨셉에 쓰일지, 어떤 카드와 쓰일지, 어떤 상황에 쓰일지 등에 대해 마음대로 적어주시면 됩니다.
    <br>어떤 카드에 대해 작성할 가치가 없다고 생각되거나 적기 귀찮은 경우 굳이 작성할 필요는 없습니다.
</p>
<!-- <h3>카드 파워와 범용성의 예시</h3>
<p>먼저 너프 전의 징그러운 지하 벌레를 보겠습니다.
    <br>너프 이전에는 매우 강력한 덱을 만들어냈습니다. 극단적인 형태의 덱이 아니면 생각없이 2장을 투입할 수 있었죠.
    <br>따라서 카드 파워는 매우 높음, 범용성도 매우 높음에 해당하는 카드로 평가할 수 있습니다.
    <br>
    <br>그 다음으로는 공작 켈레세스 카드를 살펴봅시다.
    <br>출시 전과 초반에는 저평가를 받았지만, 강력한 카드인 것으로 드러났습니다.
    <br>하지만 2코스트가 없는 덱이라는 조건때문에, 덱의 컨셉이 크게 제한되었습니다.
    <br>따라서 카드 파워는 매우 높음, 범용성은 매우 낮음에 해당하는 카드입니다.
    <br>
    <br>그 다음에는 템퍼루스를 볼까요?
    <br>효과는 강력해 보였지만, 실상은 아니었습니다. 본인이 먼저 죽었죠. 오죽하면 별명이 "죽여줘용"이었을까요?
    <br>게다가 그냥 넣을 수 있는 것도 아니었습니다. 자신의 턴에 죽일 수 있는 컨셉을 구성해야지 사용할 수 있는 카드였죠.
    <br>따라서 카드 파워와 범용성 모두 매우 낮음~낮음에 해당하는 카드입니다. </p>
<br> -->
<button [routerLink]="['../', 'list']" class="btn btn-primary">설문 목록 보기</button>