<form [formGroup]="formGroup">
  <section class="form-block">
    <div class="form-group row">
      <div class="col-lg-1 col-md-1 col-sm-4 col-xs-4">
        <label appLocalUI="Class" for="class"></label>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-8 col-xs-8">
        <div class="select form-control">
          <select formControlName="class" id="class">
            <option appLocalUI="ALL" value="ALL">ALL</option>
            <option [appLocalUI]="_class" *ngFor="let _class of classFilter" [value]="_class"></option>
          </select>
        </div>
      </div>
      <div class="col-lg-1 col-md-1 col-sm-4 col-xs-4">
        <label appLocalUI="Cost" for="cost"></label>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-8 col-xs-8">
        <div class="select form-control">
          <select formControlName="cost" id="cost">
            <option appLocalUI="ALL" value="ALL"></option>
            <option *ngFor="let cost of costFilter" [value]="cost">{{ cost }}</option>
          </select>
        </div>
      </div>
      <div class="col-lg-1 col-md-1 col-sm-4 col-xs-4">
        <label appLocalUI="Rarity" for="rarity"></label>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-8 col-xs-8">
        <div class="select form-control">
          <select formControlName="rarity" id="rarity">
            <option appLocalUI="ALL" value="ALL"></option>
            <option [appLocalUI]="_rarity" *ngFor="let _rarity of rarityFilter" [value]="_rarity"></option>
          </select>
        </div>
      </div>
    </div>
  </section>
</form>