<div class="row">
  <div *ngFor="let expansion of expansions$ | async" class="col-sm-4">
    <div class="card">
      <div class="card-img">
        <img appLocalExpansionImg [code]="expansion.code">
      </div>
      <div class="card-block">
        <p appLocalExpansion [code]="expansion.code" prop="heading" class="card-title"></p>
        <p appLocalExpansion [code]="expansion.code" prop="text" class="card-text"></p>
      </div>
      <div class="card-footer">
        <button [routerLink]="['/', 'expansions', expansion.code]" class="btn btn-sm btn-link">자세히 보기</button>
      </div>
    </div>
  </div>
</div>