<h1 appLocalExpansion [code]="selectedId$ | async" prop="name">
</h1>
<div *ngIf="isStatAvailable$ | async; else emptyBlock;" class="row">
  <div class="col-sm-6">
    <div class="card">
      <div appLocalUI="Fun" class="card-header">
      </div>
      <div class="card-block">
        <div class="card-text">
          <app-expansion-basic-chart [expansionStats]="stats$ | async" [surveyEntities]="surveyEntities$ | async" prop="fun"></app-expansion-basic-chart>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div appLocalUI="Balance" class="card-header">
      </div>
      <div class="card-block">
        <div class="card-text">
          <app-expansion-basic-chart [expansionStats]="stats$ | async" [surveyEntities]="surveyEntities$ | async" prop="balance"></app-expansion-basic-chart>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #emptyBlock>
  아직 설문이 완료되지 않았습니다. 조금만 기다려주세요!
</ng-template>