<clr-main-container>
  <clr-header>
    <div class="branding">
      <a href="#" class="nav-link">
        <span class="clr-icon clr-clarity-logo"></span>
        <span class="title">Oriental Salad</span>
      </a>
    </div>
    <div class="header-nav" [clr-nav-level]="1">
      <a class="nav-link" href="#" [routerLink]="['/home']" routerLinkActive="active">
        <span class="nav-text">Home</span>
      </a>
      <a class="nav-link" href="#" [routerLink]="['/surveys']" routerLinkActive="active">
        <span appLocalUI="Surveys" class="nav-text"></span>
      </a>
      <a class="nav-link" href="#" [routerLink]="['/expansions']" routerLinkActive="active">
        <span appLocalUI="Expansions" class="nav-text"></span>
      </a>
      <a class="nav-link" href="#" [routerLink]="['/cards']" routerLinkActive="active">
        <span appLocalUI="Cards" class="nav-text"></span>
      </a>
      <a class="nav-link" href="#" [routerLink]="['/about']" routerLinkActive="active">
        <span appLocalUI="About" class="nav-text"></span>
      </a>
    </div>
    <div class="header-actions">
      <clr-dropdown>
        <button class="nav-text" clrDropdownTrigger>
          ipeng#3533
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <a (click)="openLocaleModal()" clrDropdownItem>Change Locale</a>
          <a href="..." clrDropdownItem>My Profile</a>
          <a href="..." clrDropdownItem>Log out</a>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </clr-header>
  <app-locale-modal></app-locale-modal>
  <router-outlet></router-outlet>
</clr-main-container>