<h1 appLocalUI="Card List"></h1>
<div class="list-wrapper">
  <app-card-filter [filter]="filter$ | async" (filterChange)="onFilterChange($event)"></app-card-filter>
  <div class="row">
    <div *ngFor="let card of list$ | async" class="col-sm-3">
      <div [routerLink]="['/', 'cards', card.id]" class="card-img">
        <img appLocalCardImg [id]="card.id">
      </div>
    </div>
  </div>
  <div *ngIf="showExpandButton$ | async" class="more-cards">
    <button (click)="moreCards()" class="btn btn-block">더 보기</button>
  </div>
</div>