<div class="wrapper">
  <app-card-navigate (prev)="onPrev()" (next)="onNext()" [id]="selectedId$ | async" [total]="total$ | async" [index]="index$ | async">
  </app-card-navigate>
  <ng-container *ngIf="isStatAvailable$ | async; else emptyBlock;">
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div appLocalUI="Card Power" class="card-header">
          </div>
          <div class="card-block">
            <div class="card-text">
              <app-card-basic-chart [cardStats]="stats$ | async" [surveyEntities]="surveyEntities$ | async" prop="power"></app-card-basic-chart>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div appLocalUI="Generality" class="card-header">
          </div>
          <div class="card-block">
            <div class="card-text">
              <app-card-basic-chart [cardStats]="stats$ | async" [surveyEntities]="surveyEntities$ | async" prop="generality"></app-card-basic-chart>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h2>유저 평가 (사전)
      <button (click)="refresh$.next('click')" type="button" class="btn btn-icon">
        <clr-icon shape="refresh"></clr-icon>
      </button>
    </h2>
    <app-card-random-response [cardId]="selectedId$ | async" [responses]="responses$ | async"></app-card-random-response>
  </ng-container>
  <ng-template #emptyBlock>
    아직 설문이 완료되지 않았습니다. 조금만 기다려주세요!
  </ng-template>
</div>