<div class="content-container">
  <div class="content-area">
    <router-outlet></router-outlet>
  </div>
  <clr-vertical-nav [clr-nav-level]="2">
    <!-- <a clrVerticalNavLink routerLink="./summary" routerLinkActive="active">
      <clr-icon clrVerticalNavIcon shape="line-chart"></clr-icon>
      Summary
    </a> -->
    <a clrVerticalNavLink routerLink="./list" routerLinkActive="active">
      <clr-icon clrVerticalNavIcon shape="view-list"></clr-icon>
      List
    </a>
  </clr-vertical-nav>
</div>